/* Navbar.css */
.nav {
	width: 100vw;
	display: flex;
	align-items: center;
	justify-content: center;
	position: fixed;
	top: 0;
	height: 80px;
	background-color: var(--secondary-background);
	z-index: 2;
	box-shadow: 0 0 10px rgba(0, 0, 0, 0.218);
}

.navbar {
	position: fixed;
	top: 0;
	width: 1440px;
	height: 80px;
	background-color: var(--secondary-background);
	display: flex;
	justify-content: space-between;
	align-items: center;
}

/* Logo styles */
.logo {
	width: 180px;
	object-fit: contain;
}

.nav-links {
	display: flex;
	justify-content: center;
	align-items: center;
	margin-right: 60px;
	font-size: 20px;
}

.nav-links p {
	color: var(--head-color);
	font-weight: 500;
	font-size: medium;
}

.nav-links :hover {
	cursor: pointer;
	transition: all 0.2s ease-out;
	text-decoration: underline;
}

.nav-links img {
	width: 30px;
	margin-right: 10px;
}

.h2-flagApp {
	text-decoration: none;
	font-size: 24px;
	font-weight: 600;
	color: var(--head-color);
	margin-left: 60px;
}

.h2-flagApp:hover {
	transition: all 0.2s ease-out;
	text-decoration: underline;
	color: var(--head-color);
}

@media screen and (max-width: 1024px) {
	.nav {
		width: 100%;
	}
	.navbar {
		width: 100vw;
	}

	.h2-flagApp {
		margin-left: 30px;
	}

	.nav-links {
		margin-right: 25px;
	}
}

@media only screen and (max-width: 724px) {
	/* Mobile-specific styles */

	.App {
		margin-top: 60px;
	}

	body {
		margin-top: 0px;
		font-size: 14px;
		background-color: black;
	}
	.nav {
		height: 60px;
	}

	.navbar {
		height: 60px;
		width: 100%;
		overflow-y: hidden;
		background-color: #1f1f1f1b;
	}

	.h2-flagApp {
		margin-left: 20px;
		/* margin-left: 18px; if need to align all items*/
		font-size: 18px;
		font-weight: 700;
	}

	.nav-links {
		margin-right: 20px;
		/* margin-right: 20px; if need to align all items*/
	}

	.logo {
		display: none;
	}

	.nav-links {
		font-size: 16px;
	}

	.nav-links img {
		width: 30px;
		height: 30px;
	}
}
