/* RegionFilter.css */
.region-filter {
	margin: 10px;
}

.custom-dropdown {
	background-color: var(--secondary-background);
	padding: 20px;
	font-size: 14px;
	border: 1px solid #ccc;
	border-radius: 5px;
	cursor: pointer;
	height: 60px;
	width: 200px;
}

.default-option {
	font-style: italic;
	color: #555;
}

@media only screen and (max-width: 724px) {
	.custom-dropdown {
		width: 100%;
	}
}
