/* index.css */
/* Import fonts */
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
/* Light theme styles */
.root-layout.light-theme {
	--primary-background: #f5f5f5;
	--secondary-background: #ffffff;
	--text-color: #5e5e5eeb;
	--head-color: #3d3d3d;
	--box-shadow: rgba(0, 0, 0, 0.282);
	--hover-color: #e8e8e8;
	background-color: var(--primary-background);
}

/* Dark theme styles */
.root-layout.dark-theme {
	--primary-background: #202C36;
	--secondary-background: #2B3844;
	--text-color: #f2f2f2;
	--head-color: #f2f2f2;
	--accent-color: #2196f3;
	--box-shadow: rgba(255, 255, 255, 0.1);
	--hover-color: #5a656e87;
	background-color: var(--primary-background);
}

/* Reset styles for all elements */
* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
	overflow-x: hidden;
	color: var(--text-color);
	font-family: "Montserrat", sans-serif;
}

main {
	margin: 0;
	padding: 0;
	display: flex;
	justify-content: center;
	align-items: center;
	width: 100vw;
}

.App {
	background-color: var(--primary-background);
}

.footer {
	background-color: var(--secondary-background);
	color: var(--head-color);
	text-align: center;
	padding: 10px;
	position: relative;
	bottom: 0;
	left: 0;
	width: 100%;
	height: 60px;
	display: flex;
	align-items: center;
	justify-content: center
}
